@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden
}

body {
    background-color: #fdefd2;
    font-family: 'Poppins', sans-serif;
}

#nav {
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

#nav {
    list-style: none;
}

.nav-item li,
a {
    color: blue;
    text-decoration: none;
}

.nav-item a:hover {
    color: #0000ff94;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdefd2;
}


.table-container {
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.edit-link,
.delete-link {
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.edit-link {
    background: #2a9d8f;
}

.delete-link {
    background: #e76f51;
}

.edit-link:hover,
.delete-link:hover {
    opacity: 0.8;
}